# Игнорировать все зависимости, установленные npm
node_modules/

# Игнорировать все собранные артефакты в подпапках
# Этот шаблон игнорирует папку 'dist', которая находится внутри '14-user-task'
**/*/dist/